body{
    background-color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.div1{
    color: rgba(221, 221, 238, 0.856);
    background-color: rgba(72, 14, 165, 0.685);
    text-align: center;
    font-size: 30px;
    padding: 5px;
    width: 100%;
    display: block;
    margin: 0;
    font-family: "Aclonica", serif;
    font-weight: 400;
    font-style: normal;
}
main{
    width: 60%;
    left: 150px;
    padding: 100px;
    position: relative;
    background-color: rgba(208, 228, 255, 0.566) !important;
    overflow-y: auto;
    z-index: -6;
}

article {
    background-color: rgba(64, 145, 168, 0.361);
    margin: auto;
    bottom: 50px;
    padding: 20px;
    position: static;
}
section {
    width: 80%;
    background-color: rgb(236, 244, 255);
    margin: 400px;
}

.header-post {
    background-color: rgba(156, 180, 232, 0.95);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 40px;
}
.title-post{
    float: left;
    margin: auto;
    padding: 10px;
    display: flex;
    font-size: 100%;
    color: rgb(24, 102, 170);
}
.date-post {
    float: right;
    padding: 0;
    margin: 0;
    padding: 10px;
    display: flex;
    font-size: 100%;
    color: rgba(0, 0, 139, 0.523);
}
.comment {
    font-size: 90%;
    margin: 0;
    text-align: justify;
    margin: 0;
    background-color: rgb(236, 244, 255);
    padding: 10px;
    font-family: "Dosis", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.hashtags {
    font-size: 90%;
    text-align: justify;
    margin-bottom: 5px;
    background-color: rgb(236, 244, 255);
    padding: 10px;
    font-family: "Economica", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(13, 13, 184);
}
img{
    padding: 0px;
    width: 100%;
}